@font-face {
    font-display: swap;
    font-family: "Itau Display";
    font-style: "light";
    font-weight: 200;
    src: url("ItauDisplayPro_Lt.ttf") format("ttf");
    src: url("ItauDisplayPro_Lt.eot") format("eot");
    src: url("ItauDisplayPro_Lt.woff") format("woff");
    src: url("ItauDisplayPro_Lt.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: "Itau Display";
    font-style: "regular";
    font-weight: 400;
    src: url("ItauDisplayPro_Rg.ttf") format("ttf");
    src: url("ItauDisplayPro_Rg.eot") format("eot");
    src: url("ItauDisplayPro_Rg.woff") format("woff");
    src: url("ItauDisplayPro_Rg.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: "Itau Display";
    font-style: "bold";
    font-weight: 700;
    src: url("ItauDisplayPro_Bd.ttf") format("ttf");
    src: url("ItauDisplayPro_Bd.eot") format("eot");
    src: url("ItauDisplayPro_Bd.woff") format("woff");
    src: url("ItauDisplayPro_Bd.woff2") format("woff2")
}

@font-face {
    font-display: swap;
    font-family: "Itau Display";
    font-style: "xbold";
    font-weight: 900;
    src: url("ItauDisplayPro_XBd.ttf") format("ttf");
    src: url("ItauDisplayPro_XBd.eot") format("eot");
    src: url("ItauDisplayPro_XBd.woff") format("woff");
    src: url("ItauDisplayPro_XBd.woff2") format("woff2")
}
