@import"../../../fonts/itaudisplay.css";
/*@import"../../fonts/itautext.css";*/
/*@import"../../fonts/itauicon.css";*/

[class*=ids-theme-varejo],
:root:not([class*=ids-theme-]) {
    --ids_color_action_primary_base: #FF6200;
    --ids_color_action_primary_base_soft: rgba(255, 98, 0, 0.1);
    --ids_color_action_primary_base_medium: rgba(255, 98, 0, 0.5);
    --ids_color_action_primary_base_strong: rgba(255, 98, 0, 0.8);
    --ids_color_action_primary_variant: #E55800;
    --ids_color_action_primary_variant_soft: rgba(229, 88, 0, 0.1);
    --ids_color_action_primary_variant_medium: rgba(229, 88, 0, 0.5);
    --ids_color_action_primary_variant_strong: rgba(229, 88, 0, 0.8);
    --ids_color_action_primary_contrast: #FFFFFF;
    --ids_color_action_primary_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_action_primary_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_action_primary_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_action_secondary_base: #000066;
    --ids_color_action_secondary_base_soft: rgba(0, 0, 102, 0.1);
    --ids_color_action_secondary_base_medium: rgba(0, 0, 102, 0.5);
    --ids_color_action_secondary_base_strong: rgba(0, 0, 102, 0.8);
    --ids_color_action_secondary_variant: #000D3C;
    --ids_color_action_secondary_variant_soft: rgba(0, 13, 60, 0.1);
    --ids_color_action_secondary_variant_medium: rgba(0, 13, 60, 0.5);
    --ids_color_action_secondary_variant_strong: rgba(0, 13, 60, 0.8);
    --ids_color_action_secondary_contrast: #FFFFFF;
    --ids_color_action_secondary_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_action_secondary_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_action_secondary_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_action_neutral_base: #3B3B3B;
    --ids_color_action_neutral_base_soft: rgba(59, 59, 59, 0.1);
    --ids_color_action_neutral_base_medium: rgba(59, 59, 59, 0.5);
    --ids_color_action_neutral_base_strong: rgba(59, 59, 59, 0.8);
    --ids_color_action_neutral_variant: #000000;
    --ids_color_action_neutral_variant_soft: rgba(0, 0, 0, 0.1);
    --ids_color_action_neutral_variant_medium: rgba(0, 0, 0, 0.5);
    --ids_color_action_neutral_variant_strong: rgba(0, 0, 0, 0.8);
    --ids_color_action_neutral_contrast: #FFFFFF;
    --ids_color_action_neutral_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_action_neutral_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_action_neutral_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_action_neutral_onPrimary_base: #E55800;
    --ids_color_action_neutral_onPrimary_base_soft: rgba(229, 88, 0, 0.1);
    --ids_color_action_neutral_onPrimary_base_medium: rgba(229, 88, 0, 0.5);
    --ids_color_action_neutral_onPrimary_base_strong: rgba(229, 88, 0, 0.8);
    --ids_color_action_neutral_onPrimary_variant: #E55800;
    --ids_color_action_neutral_onPrimary_variant_soft: rgba(229, 88, 0, 0.1);
    --ids_color_action_neutral_onPrimary_variant_medium: rgba(229, 88, 0, 0.5);
    --ids_color_action_neutral_onPrimary_variant_strong: rgba(229, 88, 0, 0.8);
    --ids_color_action_neutral_onPrimary_contrast: #FFFFFF;
    --ids_color_action_neutral_onPrimary_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_action_neutral_onPrimary_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_action_neutral_onPrimary_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_action_disabled_base: #CFD1D3;
    --ids_color_action_disabled_base_soft: rgba(207, 209, 211, 0.1);
    --ids_color_action_disabled_base_medium: rgba(207, 209, 211, 0.5);
    --ids_color_action_disabled_base_strong: rgba(207, 209, 211, 0.8);
    --ids_color_action_disabled_variant: #999999;
    --ids_color_action_disabled_variant_soft: rgba(153, 153, 153, 0.1);
    --ids_color_action_disabled_variant_medium: rgba(153, 153, 153, 0.5);
    --ids_color_action_disabled_variant_strong: rgba(153, 153, 153, 0.8);
    --ids_color_text_heading_01: #000000;
    --ids_color_text_heading_01_soft: rgba(0, 0, 0, 0.1);
    --ids_color_text_heading_01_medium: rgba(0, 0, 0, 0.5);
    --ids_color_text_heading_01_strong: rgba(0, 0, 0, 0.8);
    --ids_color_text_heading_02: #4C4C4C;
    --ids_color_text_heading_02_soft: rgba(76, 76, 76, 0.1);
    --ids_color_text_heading_02_medium: rgba(76, 76, 76, 0.5);
    --ids_color_text_heading_02_strong: rgba(76, 76, 76, 0.8);
    --ids_color_text_body_01: #000000;
    --ids_color_text_body_01_soft: rgba(0, 0, 0, 0.1);
    --ids_color_text_body_01_medium: rgba(0, 0, 0, 0.5);
    --ids_color_text_body_01_strong: rgba(0, 0, 0, 0.8);
    --ids_color_text_body_02: #4C4C4C;
    --ids_color_text_body_02_soft: rgba(76, 76, 76, 0.1);
    --ids_color_text_body_02_medium: rgba(76, 76, 76, 0.5);
    --ids_color_text_body_02_strong: rgba(76, 76, 76, 0.8);
    --ids_color_text_highlight: #FF6200;
    --ids_color_text_highlight_soft: rgba(255, 98, 0, 0.1);
    --ids_color_text_highlight_medium: rgba(255, 98, 0, 0.5);
    --ids_color_text_highlight_strong: rgba(255, 98, 0, 0.8);
    --ids_color_text_link_base: #000066;
    --ids_color_text_link_base_soft: rgba(0, 0, 102, 0.1);
    --ids_color_text_link_base_medium: rgba(0, 0, 102, 0.5);
    --ids_color_text_link_base_strong: rgba(0, 0, 102, 0.8);
    --ids_color_text_link_variant: #000D3C;
    --ids_color_text_link_variant_soft: rgba(0, 13, 60, 0.1);
    --ids_color_text_link_variant_medium: rgba(0, 13, 60, 0.5);
    --ids_color_text_link_variant_strong: rgba(0, 13, 60, 0.8);
    --ids_color_bg_base: #FFFFFF;
    --ids_color_bg_base_soft: rgba(255, 255, 255, 0.1);
    --ids_color_bg_base_medium: rgba(255, 255, 255, 0.5);
    --ids_color_bg_base_strong: rgba(255, 255, 255, 0.8);
    --ids_color_bg_variant_01: #F1F2F4;
    --ids_color_bg_variant_01_soft: rgba(241, 242, 244, 0.1);
    --ids_color_bg_variant_01_medium: rgba(241, 242, 244, 0.5);
    --ids_color_bg_variant_01_strong: rgba(241, 242, 244, 0.8);
    --ids_color_bg_variant_02: #E3E5E8;
    --ids_color_bg_variant_02_soft: rgba(227, 229, 232, 0.1);
    --ids_color_bg_variant_02_medium: rgba(227, 229, 232, 0.5);
    --ids_color_bg_variant_02_strong: rgba(227, 229, 232, 0.8);
    --ids_color_bg_brand_primary: #FF6200;
    --ids_color_bg_brand_primary_soft: rgba(255, 98, 0, 0.1);
    --ids_color_bg_brand_primary_medium: rgba(255, 98, 0, 0.5);
    --ids_color_bg_brand_primary_strong: rgba(255, 98, 0, 0.8);
    --ids_color_bg_brand_secondary: #000066;
    --ids_color_bg_brand_secondary_soft: rgba(0, 0, 102, 0.1);
    --ids_color_bg_brand_secondary_medium: rgba(0, 0, 102, 0.5);
    --ids_color_bg_brand_secondary_strong: rgba(0, 0, 102, 0.8);
    --ids_color_bg_brand_gradient: linear-gradient(-225deg, rgb(255, 98, 0) 0%, rgb(255, 120, 36) 100%);
    --ids_color_bg_shimmer_gradient: linear-gradient(90deg, rgb(241, 242, 244) 0%, rgb(110, 110, 110) 50%, rgb(241, 242, 244) 100%);
    --ids_color_bg_shimmer_gradient_onLight: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    --ids_color_bg_shimmer_gradient_onDark: linear-gradient(90deg, rgb(255, 98, 0) 0%, rgb(255, 255, 255) 50%, rgb(255, 98, 0) 100%);
    --ids_color_border_soft: #CFD1D3;
    --ids_color_border_soft_soft: rgba(207, 209, 211, 0.1);
    --ids_color_border_soft_medium: rgba(207, 209, 211, 0.5);
    --ids_color_border_soft_strong: rgba(207, 209, 211, 0.8);
    --ids_color_border_medium: #ADB8B3;
    --ids_color_border_medium_soft: rgba(173, 184, 179, 0.1);
    --ids_color_border_medium_medium: rgba(173, 184, 179, 0.5);
    --ids_color_border_medium_strong: rgba(173, 184, 179, 0.8);
    --ids_color_border_strong: #5D636F;
    --ids_color_border_strong_soft: rgba(93, 99, 111, 0.1);
    --ids_color_border_strong_medium: rgba(93, 99, 111, 0.5);
    --ids_color_border_strong_strong: rgba(93, 99, 111, 0.8);
    --ids_color_contrast_onLight: #000000;
    --ids_color_contrast_onLight_soft: rgba(0, 0, 0, 0.1);
    --ids_color_contrast_onLight_medium: rgba(0, 0, 0, 0.5);
    --ids_color_contrast_onLight_strong: rgba(0, 0, 0, 0.8);
    --ids_color_contrast_onDark: #FFFFFF;
    --ids_color_contrast_onDark_soft: rgba(255, 255, 255, 0.1);
    --ids_color_contrast_onDark_medium: rgba(255, 255, 255, 0.5);
    --ids_color_contrast_onDark_strong: rgba(255, 255, 255, 0.8);
    --ids_color_contrast_onBrand_primary: #FFFFFF;
    --ids_color_contrast_onBrand_primary_soft: rgba(255, 255, 255, 0.1);
    --ids_color_contrast_onBrand_primary_medium: rgba(255, 255, 255, 0.5);
    --ids_color_contrast_onBrand_primary_strong: rgba(255, 255, 255, 0.8);
    --ids_color_contrast_onBrand_secondary: #FFFFFF;
    --ids_color_contrast_onBrand_secondary_soft: rgba(255, 255, 255, 0.1);
    --ids_color_contrast_onBrand_secondary_medium: rgba(255, 255, 255, 0.5);
    --ids_color_contrast_onBrand_secondary_strong: rgba(255, 255, 255, 0.8);
    --ids_color_feedback_information: #001FBD;
    --ids_color_feedback_information_soft: rgba(0, 31, 189, 0.1);
    --ids_color_feedback_information_medium: rgba(0, 31, 189, 0.5);
    --ids_color_feedback_information_strong: rgba(0, 31, 189, 0.8);
    --ids_color_feedback_information_contrast: #FFFFFF;
    --ids_color_feedback_information_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_feedback_information_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_feedback_information_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_feedback_success: #0B5B38;
    --ids_color_feedback_success_soft: rgba(11, 91, 56, 0.1);
    --ids_color_feedback_success_medium: rgba(11, 91, 56, 0.5);
    --ids_color_feedback_success_strong: rgba(11, 91, 56, 0.8);
    --ids_color_feedback_success_contrast: #FFFFFF;
    --ids_color_feedback_success_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_feedback_success_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_feedback_success_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_feedback_error: #CC0000;
    --ids_color_feedback_error_soft: rgba(204, 0, 0, 0.1);
    --ids_color_feedback_error_medium: rgba(204, 0, 0, 0.5);
    --ids_color_feedback_error_strong: rgba(204, 0, 0, 0.8);
    --ids_color_feedback_error_contrast: #FFFFFF;
    --ids_color_feedback_error_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_feedback_error_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_feedback_error_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_feedback_alert: #FFCC00;
    --ids_color_feedback_alert_soft: rgba(255, 204, 0, 0.1);
    --ids_color_feedback_alert_medium: rgba(255, 204, 0, 0.5);
    --ids_color_feedback_alert_strong: rgba(255, 204, 0, 0.8);
    --ids_color_feedback_alert_contrast: #000000;
    --ids_color_feedback_alert_contrast_soft: rgba(0, 0, 0, 0.1);
    --ids_color_feedback_alert_contrast_medium: rgba(0, 0, 0, 0.5);
    --ids_color_feedback_alert_contrast_strong: rgba(0, 0, 0, 0.8);
    --ids_color_feedback_neutral: #4C4C4C;
    --ids_color_feedback_neutral_soft: rgba(76, 76, 76, 0.1);
    --ids_color_feedback_neutral_medium: rgba(76, 76, 76, 0.5);
    --ids_color_feedback_neutral_strong: rgba(76, 76, 76, 0.8);
    --ids_color_feedback_neutral_contrast: #FFFFFF;
    --ids_color_feedback_neutral_contrast_soft: rgba(255, 255, 255, 0.1);
    --ids_color_feedback_neutral_contrast_medium: rgba(255, 255, 255, 0.5);
    --ids_color_feedback_neutral_contrast_strong: rgba(255, 255, 255, 0.8);
    --ids_color_chart_01: #FF6200;
    --ids_color_chart_02: #002766;
    --ids_color_chart_03: #6E6E6E;
    --ids_color_chart_04: #0131FF;
    --ids_color_chart_05: #FFBA00;
    --ids_color_chart_06: #999999;
    --ids_color_chart_07: #BD0071;
    --ids_color_chart_08: #008717;
    --ids_motion_time_fast_01: 100ms;
    --ids_motion_time_fast_02: 150ms;
    --ids_motion_time_fast_03: 200ms;
    --ids_motion_time_moderate_01: 250ms;
    --ids_motion_time_moderate_02: 300ms;
    --ids_motion_time_moderate_03: 350ms;
    --ids_motion_time_slow_01: 400ms;
    --ids_motion_time_slow_02: 450ms;
    --ids_motion_time_slow_03: 500ms;
    --ids_motion_time_superslow_01: 600ms;
    --ids_motion_time_superslow_02: 700ms;
    --ids_motion_time_superslow_03: 800ms;
    --ids_motion_delay_fast_01: 50ms;
    --ids_motion_delay_fast_02: 100ms;
    --ids_motion_delay_moderate_01: 150ms;
    --ids_motion_delay_moderate_02: 200ms;
    --ids_motion_delay_moderate_03: 250ms;
    --ids_motion_delay_moderate_04: 500ms;
    --ids_motion_delay_slow_01: 1000ms;
    --ids_motion_easing_effective_linear: cubic-bezier(1, 1, 1, 1);
    --ids_motion_easing_effective_standard: cubic-bezier(0.4, 0, 0.6, 1);
    --ids_motion_easing_effective_01: cubic-bezier(0.75, 0, 0.45, 1);
    --ids_motion_easing_effective_02: cubic-bezier(0.66, 0, 0.34, 1);
    --ids_motion_easing_effective_accelerate_standard: cubic-bezier(1, 0, 0.83, 0.83);
    --ids_motion_easing_effective_accelerate_01: cubic-bezier(0.64, 0, 0.83, 0.83);
    --ids_motion_easing_effective_accelerate_02: cubic-bezier(0.39, 0, 0.7, 0.15);
    --ids_motion_easing_effective_decelerate_standard: cubic-bezier(0.33, 0, 0, 1);
    --ids_motion_easing_effective_decelerate_01: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ids_motion_easing_effective_decelerate_02: cubic-bezier(0.19, 1, 0.22, 1);
    --ids_motion_easing_vivid_standard: cubic-bezier(0.6, 0, 0.2, 1);
    --ids_motion_easing_vivid_01: cubic-bezier(0.45, 0, 0.09, 1);
    --ids_motion_easing_vivid_accelerate_on: cubic-bezier(0.64, 0, 0.78, 0);
    --ids_motion_easing_vivid_accelerate_back: cubic-bezier(0.32, 0, 0.46, -0.71);
    --ids_motion_easing_vivid_decelerate_on: cubic-bezier(0.22, 1, 0.36, 1);
    --ids_motion_easing_vivid_decelerate_back: cubic-bezier(0.2, 1.51, 0.5, 1.06);
    --ids_motion_opacity_0: 0;
    --ids_motion_opacity_100: 100;
    --ids_motion_scale_0: 0;
    --ids_motion_scale_100: 100;
    --ids_motion_repeat_none: 0;
    --ids_motion_repeat_1x: 1;
    --ids_motion_repeat_2x: 2;
    --ids_motion_repeat_3x: 3;
    --ids_motion_repeat_loop: infinite;
    --ids_opacity_empty: 0;
    --ids_opacity_soft: 0.10;
    --ids_opacity_medium: 0.50;
    --ids_opacity_strong: 0.80;
    --ids_opacity_none: 1;
    --ids_size_cornerRadius_button: 0.75rem;
    --ids_size_cornerRadius_smallButton: 0.5rem;
    --ids_size_cornerRadius_tags_01: 0.25rem;
    --ids_size_cornerRadius_tags_02: 0.5rem;
    --ids_size_cornerRadius_fab: 0.75rem;
    --ids_size_cornerRadius_tooltip: 0.25rem;
    --ids_size_cornerRadius_card_01: 1rem;
    --ids_size_cornerRadius_card_02: 0.75rem;
    --ids_size_cornerRadius_layout_01: 1rem;
    --ids_size_cornerRadius_layout_02: 1.5rem;
    --ids_size_cornerRadius_passwordCode: 0.5rem;
    --ids_size_cornerRadius_snackbar: 0.25rem;
    --ids_size_cornerRadius_table: 0.25rem;
    --ids_size_border_small: 0.0625rem;
    --ids_size_border_medium: 0.125rem;
    --ids_size_border_large: 0.25rem;
    --ids_size_padding_passwordCode_topDown: 0.5rem;
    --ids_size_padding_passwordCode_leftRight: 0.5rem;
    --ids_size_general_1x: 0.0625rem;
    --ids_size_general_2x: 0.125rem;
    --ids_size_general_3x: 0.1875rem;
    --ids_size_general_4x: 0.25rem;
    --ids_size_general_5x: 0.3125rem;
    --ids_size_general_6x: 0.375rem;
    --ids_size_general_7x: 0.4375rem;
    --ids_size_general_8x: 0.5rem;
    --ids_size_general_10x: 0.625rem;
    --ids_size_general_12x: 0.75rem;
    --ids_size_general_14x: 0.875rem;
    --ids_size_general_16x: 1rem;
    --ids_size_general_18x: 1.125rem;
    --ids_size_general_20x: 1.25rem;
    --ids_size_general_22x: 1.375rem;
    --ids_size_general_24x: 1.5rem;
    --ids_size_general_28x: 1.75rem;
    --ids_size_general_30x: 1.875rem;
    --ids_size_general_32x: 2rem;
    --ids_size_general_36x: 2.25rem;
    --ids_size_general_40x: 2.5rem;
    --ids_size_general_44x: 2.75rem;
    --ids_size_general_48x: 3rem;
    --ids_size_general_52x: 3.25rem;
    --ids_size_general_56x: 3.5rem;
    --ids_size_general_60x: 3.75rem;
    --ids_size_general_64x: 4rem;
    --ids_size_general_68x: 4.25rem;
    --ids_size_general_72x: 4.5rem;
    --ids_size_general_76x: 4.75rem;
    --ids_size_general_80x: 5rem;
    --ids_size_general_84x: 5.25rem;
    --ids_size_general_88x: 5.5rem;
    --ids_size_general_92x: 5.75rem;
    --ids_size_general_96x: 6rem;
    --ids_size_general_100x: 6.25rem;
    --ids_size_general_104x: 6.5rem;
    --ids_size_general_108x: 6.75rem;
    --ids_size_general_112x: 7rem;
    --ids_size_general_116x: 7.25rem;
    --ids_size_general_120x: 7.5rem;
    --ids_size_general_124x: 7.75rem;
    --ids_size_general_128x: 8rem;
    --ids_size_general_132x: 8.25rem;
    --ids_size_general_136x: 8.5rem;
    --ids_size_general_140x: 8.75rem;
    --ids_spacing_1x: 0.25rem;
    --ids_spacing_2x: 0.5rem;
    --ids_spacing_3x: 0.75rem;
    --ids_spacing_4x: 1rem;
    --ids_spacing_5x: 1.25rem;
    --ids_spacing_6x: 1.5rem;
    --ids_spacing_8x: 2rem;
    --ids_spacing_10x: 2.5rem;
    --ids_spacing_12x: 3rem;
    --ids_spacing_14x: 3.5rem;
    --ids_textStyle_f01_s16_h24_wbd: 700 1rem/1.5rem "Itau Display";
    --ids_textStyle_f01_s20_h28_wrg: 700 1.25rem/1.75rem "Itau Display";
    --ids_textStyle_f01_s24_h32_wbd: 700 1.5rem/2rem "Itau Display";
    --ids_textStyle_f01_s24_h32_wrg: 700 1.5rem/2rem "Itau Display";
    --ids_textStyle_f01_s32_h48_wbd: 700 2rem/3rem "Itau Display";
    --ids_textStyle_f01_s32_h48_wrg: 700 2rem/3rem "Itau Display";
    --ids_textStyle_f01_s40_h64_wbd: 700 2.5rem/4rem "Itau Display";
    --ids_textStyle_f01_s40_h64_wrg: 700 2.5rem/4rem "Itau Display";
    --ids_textStyle_f01_s48_h80_wbd: 700 3rem/5rem "Itau Display";
    --ids_textStyle_f01_s48_h80_wrg: 700 3rem/5rem "Itau Display";
    --ids_textStyle_f01_s64_h100_wbd: 700 4rem/6.25rem "Itau Display";
    --ids_textStyle_f01_s64_h100_wrg: 700 4rem/6.25rem "Itau Display";
    --ids_textStyle_f02_s12_h18_wbd: 700 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_f02_s12_h18_wrg: 400 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_f02_s14_h20_wbd: 700 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_f02_s14_h20_wrg: 400 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_f02_s16_h24_wbd: 700 1rem/1.5rem "Itau Text";
    --ids_textStyle_f02_s16_h24_wrg: 400 1rem/1.5rem "Itau Text";
    --ids_textStyle_f02_s18_h26_wbd: 700 1.125rem/1.625rem "Itau Text";
    --ids_textStyle_f02_s18_h26_wrg: 400 1.125rem/1.625rem "Itau Text";
    --ids_textStyle_f02_s20_h26_wbd: 700 1.25rem/1.625rem "Itau Text";
    --ids_textStyle_f02_s20_h26_wrg: 400 1.25rem/1.625rem "Itau Text";
    --ids_textStyle_f02_s24_h32_wbd: 700 1.5rem/2rem "Itau Text";
    --ids_textStyle_f02_s24_h32_wrg: 400 1.5rem/2rem "Itau Text";
    --ids_textStyle_f02_s32_h48_wrg: 400 2rem/3rem "Itau Text";
    --ids_textStyle_f02_s40_h64_wrg: 400 2.5rem/4rem "Itau Text";
    --ids_textStyle_f02_s48_h80_wrg: 400 3rem/5rem "Itau Text";
    --ids_textStyle_title_01_base: 700 1.5rem/2rem "Itau Display";
    --ids_textStyle_title_01_variant: 400 1.5rem/2rem "Itau Display";
    --ids_textStyle_section_01: 400 1.25rem/1.625rem "Itau Display";
    --ids_textStyle_section_02: 700 1rem/1.5rem "Itau Display";
    --ids_textStyle_overline: 400 1rem/1.5rem "Itau Text";
    --ids_textStyle_subtitle_01: 400 1rem/1.5rem "Itau Text";
    --ids_textStyle_insight_regular: 400 1.5rem/2rem "Itau Display";
    --ids_textStyle_insight_bold: 700 1.5rem/2rem "Itau Display";
    --ids_textStyle_body_01_regular: 400 1rem/1.5rem "Itau Text";
    --ids_textStyle_body_01_bold: 700 1rem/1.5rem "Itau Text";
    --ids_textStyle_body_02_regular: 400 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_body_02_bold: 700 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_body_link_01_regular: 400 1rem/1.5rem "Itau Text";
    --ids_textStyle_body_link_01_bold: 700 1rem/1.5rem "Itau Text";
    --ids_textStyle_body_link_01_xbold: 900 1rem/1.5rem "Itau Text";
    --ids_textStyle_body_link_02_regular: 400 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_body_link_02_bold: 700 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_body_link_02_xbold: 900 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_caption_regular: 400 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_caption_bold: 700 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_caption_link_regular: 400 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_caption_link_bold: 700 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_caption_link_xbold: 900 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_label_xsmall_regular: 400 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_label_xsmall_bold: 700 0.75rem/1.125rem "Itau Text";
    --ids_textStyle_label_small_regular: 400 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_label_small_bold: 700 0.875rem/1.25rem "Itau Text";
    --ids_textStyle_label_medium_regular: 400 1rem/1.5rem "Itau Text";
    --ids_textStyle_label_medium_bold: 700 1rem/1.5rem "Itau Text";
    --ids_textStyle_label_large_regular: 400 1.25rem/1.625rem "Itau Text";
    --ids_textStyle_label_large_bold: 700 1.25rem/1.625rem "Itau Text";
    --ids_textStyle_label_xlarge_regular: 400 1.5rem/2rem "Itau Text";
    --ids_textStyle_label_xlarge_bold: 700 1.5rem/2rem "Itau Text";
    --ids_textStyle_icon_small: 1rem/1rem "Itau Icon";
    --ids_textStyle_icon_medium: 1.5rem/1.5rem "Itau Icon";
    --ids_textStyle_icon_large: 2rem/2rem "Itau Icon";
    --ids_textStyle_icon_xLarge: 3rem/3rem "Itau Icon"
}
